<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>category</key>
	<string>FILES</string>
	<key>disabled</key>
	<false/>
	<key>files</key>
	<array>
		<string>~/Documents/Parallels/Windows XP.pvm</string>
	</array>
	<key>keyword</key>
	<string>winxp</string>
	<key>subtitle</key>
	<string>Open WinXP on Parallers</string>
	<key>title</key>
	<string>WinXP</string>
</dict>
</plist>
