<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>category</key>
	<string>SCRIPTS</string>
	<key>command</key>
	<string>VAL=$(defaults read com.apple.finder CreateDesktop);

if [ $VAL == 0 ]; then
echo "Your desktop has been restored.";
defaults write com.apple.finder CreateDesktop -bool true
killall Finder
else
echo "Now hiding your desktop.";
defaults write com.apple.finder CreateDesktop -bool false
killall Finder
fi
</string>
	<key>escapequery</key>
	<true/>
	<key>escapequerybackquotes</key>
	<true/>
	<key>escapequerybrackets</key>
	<true/>
	<key>escapequeryquotes</key>
	<true/>
	<key>escapequerysemicolons</key>
	<true/>
	<key>growloutput</key>
	<true/>
	<key>growloutputsticky</key>
	<false/>
	<key>keyword</key>
	<string>desktop</string>
	<key>logging</key>
	<false/>
	<key>silent</key>
	<true/>
	<key>subtitle</key>
	<string>Shows/Hides Desktop and Icons</string>
	<key>title</key>
	<string>Show/Hide Desktop Icons</string>
</dict>
</plist>
