<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>backgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmAAAAAYY=
		</data>
		<key>borderColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmgwAAAD+DAAAAP4MAAAA/g83MzD6G
		</data>
		<key>dividerLineColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg83MTD6DzcxMPoPNzEw+AYY=
		</data>
		<key>imagePrefix</key>
		<string>dark</string>
		<key>name</key>
		<string>Dark_can</string>
		<key>resultShortcutColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg0jhuj6DzczMPYO4HgU/AYY=
		</data>
		<key>resultSubtextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg83MzD6DzczMPoPNzMw+AYY=
		</data>
		<key>resultTextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZoOrqio/AYY=
		</data>
		<key>scrollbarColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg83MTD6DzcxMPoPNzEw+AYY=
		</data>
		<key>searchFieldBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmgx+Faz6DH4VrPoMfhWs+AYY=
		</data>
		<key>searchFieldTextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>selectedResultBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAIMV7po+g9M7XT8Bhg==
		</data>
		<key>selectedResultForeground</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg2SBXj+DZIFeP4NkgV4/AYY=
		</data>
		<key>selectedResultShortcutColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmgylcDz6DzcxMPYM9Clc+AYY=
		</data>
		<key>selectedSubtextForeground</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg2zvbj6DFG4NP4Ond2Q/AYY=
		</data>
		<key>uid</key>
		<string>alfred.theme.custom.52C2CC38-8FEB-4D10-BC72-97E93666D760-1486-00000C52D1198019</string>
	</dict>
</array>
</plist>
