<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<true/>
	<key>category</key>
	<string>SCRIPTS</string>
	<key>command</key>
	<string>/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/usr/bin/pngcrush -revert-iphone-optimizations {query} {query}-opt
</string>
	<key>disabled</key>
	<false/>
	<key>escapequery</key>
	<true/>
	<key>escapequerybackquotes</key>
	<true/>
	<key>escapequerybrackets</key>
	<true/>
	<key>escapequeryquotes</key>
	<true/>
	<key>escapequerysemicolons</key>
	<true/>
	<key>growloutput</key>
	<true/>
	<key>growloutputsticky</key>
	<true/>
	<key>keyword</key>
	<string>opng</string>
	<key>logging</key>
	<false/>
	<key>parameter</key>
	<integer>0</integer>
	<key>silent</key>
	<false/>
	<key>subtitle</key>
	<string>Optimization PNG to file</string>
	<key>title</key>
	<string>Optimization PNG</string>
</dict>
</plist>
